**BUILDING A BOOK RECOMMENDATION APP**

*Recommend by:-
year
-title
-rating
-author

Below is the details of columns:

**isbn13** => International Standard book number with 13 digits ;
**isbn10** => International standard book number wit 10 digit ;
**title** => title of the book ;
**subtitle** => ... ;
**author** => book's writer ;
**categories** => book's type ;
**thumbnail** => book's picture.png url ;
**description** => kinda like the synopsis of the book ;
**published_year** => the year when the book published ;
**average_rating** => average rating ;
**num_page** => pages of the book ;
**rating_count** => number of ratings made for the book

**First** , import pandas as pd and numpy as np

In [21]:
import pandas as pd
import numpy as np

Read the data sets using pd.read_csv() and look at the first 10 rows

In [22]:
books = pd.read_csv('books.csv')
books.head(10)

,isbn13,isbn10,title,subtitle,authors,categories,thumbnail,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,0002005883,Gilead,NaN,Marilynne Robinson,Fiction,http://books.google.com/books/content?id=KQZCP...,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,0002261987,Spider's Web,A Novel,Charles Osborne;Agatha Christie,Detective and mystery stories,http://books.google.com/books/content?id=gA5GP...,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,0006163831,The One Tree,NaN,Stephen R. Donaldson,American fiction,http://books.google.com/books/content?id=OmQaw...,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,0006178731,Rage of angels,NaN,Sidney Sheldon,Fiction,http://books.google.com/books/content?id=FKo2T...,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,0006280897,The Four Loves,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=XhQ5X...,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0
5,9780006280934,0006280935,The Problem of Pain,NaN,Clive Staples Lewis,Christian life,http://books.google.com/books/content?id=Kk-uV...,"""In The Problem of Pain, C.S. Lewis, one of th...",2002.0,4.09,176.0,37569.0
6,9780006353287,0006353282,An Autobiography,NaN,Agatha Christie,"Authors, English",http://books.google.com/books/content?id=c49GQ...,Donation.,1977.0,4.27,560.0,3975.0
7,9780006380832,0006380832,Empires of the Monsoon,A History of the Indian Ocean and Its Invaders,Richard Hall,"Africa, East",http://books.google.com/books/content?id=MuPEQ...,Until Vasco da Gama discovered the sea-route t...,1998.0,4.41,608.0,65.0
8,9780006470229,000647022X,The Gap Into Madness,Chaos and Order,Stephen R. Donaldson,"Hyland, Morn (Fictitious character)",http://books.google.com/books/content?id=4oXav...,A new-cover reissue of the fourth book in the ...,1994.0,4.15,743.0,103.0
9,9780006472612,0006472613,Master of the Game,NaN,Sidney Sheldon,Adventure stories,http://books.google.com/books/content?id=TkTYp...,Kate Blackwell is an enigma and one of the mos...,1982.0,4.11,489.0,43540.0

Now check the shape of the data

In [23]:
books.shape

(6810, 12)

We want to remove unnecssary columns from the datasets

We can use .drop(columns[]) function for this

In [24]:
#remove isbn10, considered repeitive with isbn13
#remove the subtitle column, lots of null and not quite needed
#remove thumbnail column, only showing picture of book's front cover 
books = books.drop(columns=['isbn10','subtitle','thumbnail'])
books.head()

,isbn13,title,authors,categories,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...,2004.0,3.85,247.0,361.0
1,9780002261982,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,2000.0,3.83,241.0,5164.0
2,9780006163831,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,1982.0,3.97,479.0,172.0
3,9780006178736,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b...",1993.0,3.93,512.0,29532.0
4,9780006280897,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...,2002.0,4.15,170.0,33684.0

We don't want any duplication of the book in our recommendation app. So, lets check how many repetitive tiles does we have using the .total_counts()

In [25]:
books['title'].value_counts()

The Lord of the Rings              11
Three Complete Novels               8
Star Wars                           7
One Hundred Years of Solitude       6
The Fellowship of the Ring          5
                                   ..
The Barefoot Contessa Cookbook      1
The Marriage of Heaven and Hell     1
Be More Chill                       1
An American Plague                  1
Who Wants a Cheap Rhinoceros?       1
Name: title, Length: 6398, dtype: int64

Now that we know few books has been repeated quite a lot, we might want to drop any duplication of title beacuse our app don't want to give a result of the same books to our user.

In [26]:
#using the drop_duplicates
books.drop_duplicates(subset = 'title',keep = False,inplace=True)
books['title'].value_counts()

Steamed                         1
Son of the Mob                  1
There is Always Enough          1
Six Easy Pieces                 1
When I Don't Desire God         1
                               ..
Cell                            1
Apple Pie Fourth of July        1
Scenes of Clerical Life         1
The Diamond Color Meditation    1
Smart Discipline(R)             1
Name: title, Length: 6090, dtype: int64

In [27]:
books.tail(10)

,isbn13,title,authors,categories,description,published_year,average_rating,num_pages,ratings_count
6799,9788122200850,"Cry, the Peacock",Anita Desai,Fiction,This book is the story of a young girl obsesse...,1980.0,3.22,218.0,134.0
6800,9788125026600,Nietzsche For Beginners,Marc Sautet,NaN,Not only does Nietzsche for Beginners delve in...,2004.0,3.26,192.0,21.0
6801,9788171565641,Aspects of the Novel,E. M. Forster,English fiction,"Forster's lively, informed originality and wit...",2004.0,3.83,141.0,10.0
6802,9788172235222,Mistaken Identity,Nayantara Sahgal,Indic fiction (English),On A Train Journey Home To North India After L...,2003.0,2.93,324.0,0.0
6803,9788173031014,Journey to the East,Hermann Hesse,Adventure stories,This book tells the tale of a man who goes on ...,2002.0,3.70,175.0,24.0
6804,9788179921623,The Monk Who Sold His Ferrari: A Fable About F...,Robin Sharma,Health & Fitness,"Wisdom to Create a Life of Passion, Purpose, a...",2003.0,3.82,198.0,1568.0
6805,9788185300535,I Am that,Sri Nisargadatta Maharaj;Sudhakar S. Dikshit,Philosophy,This collection of the timeless teachings of o...,1999.0,4.51,531.0,104.0
6806,9788185944609,Secrets Of The Heart,Khalil Gibran,Mysticism,NaN,1993.0,4.08,74.0,324.0
6808,9789027712059,The Berlin Phenomenology,Georg Wilhelm Friedrich Hegel,History,Since the three volume edition ofHegel's Philo...,1981.0,0.00,210.0,0.0
6809,9789042003408,'I'm Telling You Stories',Helena Grice;Tim Woods,Literary Criticism,This is a jubilant and rewarding collection of...,1998.0,3.70,136.0,10.0

Let's change float published_year, num_pages and ratings_count into integer

In [68]:
books['published_year'] = books['published_year'].fillna(0).astype(int)

In [72]:
books['num_pages'] = books['num_pages'].fillna(0).astype(int)

In [73]:
books['ratings_count'] = books['ratings_count'].fillna(0).astype(int)

In [74]:
books.head()

,isbn13,title,authors,categories,description,published_year,average_rating,num_pages,ratings_count
0,9780002005883,Gilead,Marilynne Robinson,Fiction,A NOVEL THAT READERS and critics have been eag...,2004,3.85,247,361
1,9780002261982,Spider's Web,Charles Osborne;Agatha Christie,Detective and mystery stories,A new 'Christie for Christmas' -- a full-lengt...,2000,3.83,241,5164
2,9780006163831,The One Tree,Stephen R. Donaldson,American fiction,Volume Two of Stephen Donaldson's acclaimed se...,1982,3.97,479,172
3,9780006178736,Rage of angels,Sidney Sheldon,Fiction,"A memorable, mesmerizing heroine Jennifer -- b...",1993,3.93,512,29532
4,9780006280897,The Four Loves,Clive Staples Lewis,Christian life,Lewis' work on the nature of love divides love...,2002,4.15,170,33684

Checking number of published years, categories and average ratings

In [75]:
books['categories'].value_counts()

Fiction                                  2275
Juvenile Fiction                          500
Biography & Autobiography                 364
History                                   250
Literary Criticism                        150
                                         ...
Erinyes (Greek mythology)                   1
Bracelets                                   1
Labrador retriever                          1
Curiosities and wonders                     1
Minimal brain dysfunction in children       1
Name: categories, Length: 511, dtype: int64

In [76]:
books['published_year'].value_counts()

2006    823
2005    630
2004    546
2003    500
2002    426
       ...
1926      1
1930      1
1934      1
1938      1
1951      1
Name: published_year, Length: 93, dtype: int64